<!DOCTYPE html>
<html>
<head>
    <title>Minha App Python</title>
    <style>
        body {
            background-image: url("{{ background }}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
</head>
<body>
    <h1>Ambiente PROD - Teste Argo CD</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>